set_io -nowarn clk 12


set_io -nowarn -pullup 1 HSYNC1 25
set_io -nowarn -pullup 1 VSYNC1 23


set_io -nowarn -pullup 1 led 39
set_io -nowarn -pullup 1 led1 40

set_io -nowarn rgb[5] 37
set_io -nowarn rgb[4] 31
set_io -nowarn rgb[3] 35
set_io -nowarn rgb[2] 32
set_io -nowarn rgb[1] 27
set_io -nowarn rgb[0] 26
